<div class="body-main" ng-controller="profileController">
    <h1 class="title">Excellence since 1998</h1>
    <p>I've been building websites for almost twenty years.</p>

    <p>It's been more than 150 site launches. Small sites, big sites, and some of the most prestigious
        and ambitious projects in the world. I've survived tight deadlines on complex problems and two State
        of the Union Addresses at the White House. I've seen success in the impossible and flourished under extreme
        circumstances.
    </p>

    <p>In 2005 I began working with Drupal. I've contributed, taught classes, spoken at camps and conferences,
        and continue to advocate for Drupal as a technology and as a community. I've built substantial infrastructure
        around managing Drupal's deployments and development and handling its many intricacies. I have developed, I
        have architected, I have designed, I have themed, I have project managed, I have sold. I have spent years
        building a network of specialists dedicated to solving specific problems in Drupal.
    </p>

    <p>For the past two years I've led several teams in parallel, successfully accomplishing all goals and bringing
        in more than $4 million a year. I have been the direct face to the client to determine requirements for each
        project, translated those requirements to the development team and provided technical direction and architecture
        design to achieve all requirements.
    </p>
    <h4 class="pull-right">So what can I do for you?</h4>

    <main-nav></main-nav>
</div>